:root {
  --clr-primary: #222c3f;
  --clr-primary-light: #2d3749;
  --clr-primary-lighter: #3d4857;
  --clr-primary-dark: #1e2633;
  --clr-secondary: #426caa;
  --clr-text: #b3c0d1;
  --clr-text-light: #c2cdda;
}

body {
  background: linear-gradient(
    to right,
    rgba(73, 93, 109, 1) 4.3%,
    rgba(49, 55, 82, 1) 96.7%
  );
  color: var(--clr-text-light);
}

p {
  margin: 0;
}
a {
  text-decoration: none;
}
h5 {
  color: var(--clr-text);
  margin: 0px 6px 14px;
}
.input-task::placeholder {
  color: rgba(196, 207, 223, 0.37);
}
.input-task {
  color: #e6e6e6;
  border: 1px solid var(--clr-primary-lighter);
  background-color: var(--clr-primary-lighter);
  outline: none;
}
.input-task:focus {
  color: #e6e6e6;
  background-color: var(--clr-primary-lighter);
  box-shadow: none;
  transition: all ease-in-out 0.2s;
  border: 1px solid #7d8692;
}
.nav-link {
  color: #e6e6e6;
  font-size: 14px;
  font-weight: 600;
  padding: 0.7rem 1.2rem;
}
.nav-link:hover {
  background-color: var(--clr-primary);
  color: #e6e6e6;
}
.radio-priority {
  margin-right: 0.4rem;
  font-size: 12px;
}

label {
  margin-bottom: 0px !important;
}
.form-btn {
  background-color: var(--clr-secondary);
  color: #e6e6e6;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
.form-btn:hover {
  background-color: #3b6199;
}
.outlet {
  height: 50%;
  flex-grow: 1;
}

.app-layout {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  background-color: var(--clr-primary);
  max-width: 720px;
  height: calc(100vh - 64px);
}

.list-box::-webkit-scrollbar {
  width: 6px;
}
.list-box::-webkit-scrollbar-thumb {
  background: var(--clr-primary-lighter);
}
.task-box {
  background-color: var(--clr-primary-light);
}
.priority {
  height: 10px;
  width: 10px;
  flex-shrink: 0;
  border-radius: 160px;
}
.priority-high {
  background-color: rgb(206, 41, 0);
}
.priority-medium {
  background-color: rgb(201, 132, 5);
}
.priority-low {
  background-color: green;
}

.task-icon:hover {
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  color: var(--clr-secondary);
}

.sign-up-link {
  color: #5a89cf;

  font-weight: 400;
  transition: all ease-in-out 0.2s;
}
.sign-up-link:hover {
  color: var(--clr-secondary);
}

.font-sm {
  font-size: 14px;
}

@media (min-width: 576px) {
  .app-layout {
    border-radius: 0.375rem;
  }
  .list-box {
    overflow-y: auto;
  }
}

@media (max-width: 575px) {
  body {
    padding: 0;
  }
  .header {
    border-radius: 0 !important;
  }

  .app-layout {
    height: 100%;
    min-height: 100vh;
    margin: 0;
  }
}
