:root {
  --clr-primary: #232d3f;
  --clr-primary-light: #3d4857;
  --clr-primary-dark: #1e2633;
  --clr-secondary: #426caa;
  --clr-text: #b3c0d1;
  --clr-text-light: #c2cdda;
}

html {
  height: 100%;
}
body {
  padding-top: 3rem;
  background-image: linear-gradient(
    110.3deg,
    rgba(73, 93, 109, 1) 4.3%,
    rgba(49, 55, 82, 1) 96.7%
  );
  color: var(--clr-text-light);
  height: 100%;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
h5 {
  color: var(--clr-text);
  margin-bottom: 10px;
}
.custom-input::placeholder {
  color: rgba(196, 207, 223, 0.37);
}
.custom-input {
  outline: var(--clr-primary-light) solid 1px;
}
.custom-input:focus {
  box-shadow: none;
  transition: all ease-in-out 0.2s;
  outline: #7d8692 solid 1px;
}
.nav-link {
  color: #e6e6e6;
  font-size: 14px;
  font-weight: 600;
  padding: 0.7rem 1.2rem;
}
.nav-link:hover {
  background-color: var(--clr-primary);
  color: #e6e6e6;
}
.radio-custom {
  margin-right: 0.4rem;
  font-size: 12px;
}
label {
  margin-bottom: 0px !important;
}
.btn-custom {
  background-color: var(--clr-secondary);
  font-size: 14px;
  border: none;
}
.btn-custom:hover {
  background-color: #3b6199;
}

.custom-item {
  background-color: #1e2633;
}
.priority {
  color: green;
  height: 16px;
  width: 16px;
  border-radius: 160px;
  border: 2px solid green;
}
.priority-high {
  border: 2px solid rgb(206, 41, 0);
}
.priority-medium {
  border: 2px solid rgb(201, 132, 5);
}
.priority-low {
  border: 2px solid green;
}

@media (min-width: 576px) {
  .custom-layout {
    border-radius: 0.375rem;
    height: auto;
    min-height: 80vh;
  }
}

@media (max-width: 575px) {
  body {
    padding-top: 0;
  }
  .header {
    border-radius: 0 !important;
  }
  .custom-layout {
    height: 100vh;
  }
}
